{% include 'header.html' %}

      <div class="jumbotron">
        <h1>SPARQL2Git</h1>
        <p class="lead">Start making your SPARQL queries reusable!</p>
        <p><a id="login" class="btn btn-lg btn-primary" href="https://github.com/login/oauth/authorize?scope=public_repo%2Cuser&client_id={{client_id}}" role="button">Log in with GitHub</a></p>
        <div id="status"></div>
      </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>
  $('#login').click(function(e){
    var message = $('<small><img width="20px" src={{url_for("static", filename="img/spinner.gif")}}> Retrieving your GitHub repository data, please wait</small>');
    $('#status').html(message);
    $('#login').addClass('disabled');
  });

</script>

{% include 'footer.html' %}
